* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    padding: 16px 60px;
    background: linear-gradient(90deg, #0f172a, #020617);
}

/* LOGO – LEFT */
.logo {
    color: #fbbf24;
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}

/* MENU – CENTER */
.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    flex: 2;
    justify-content: center;
    align-items: center;
}

/* LINKS */
.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #fbbf24;
}

/* UNDERLINE EFFECT */
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #fbbf24;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* PROFILE BOX */
.profile-box {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fbbf24;
    font-weight: 600;
    margin-left: auto; /* RIGHT SIDE */
}

.profile-box img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

/* BUTTONS (Login / Profile / Logout) */
.btn {
    background: #fbbf24;
    color: #000 !important;
    padding: 9px 22px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
    margin-left: 12px;
}

.btn:hover {
    background: #f59e0b;
    transform: translateY(-2px);
}
