*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", sans-serif;
}

body{
    background:#f4f6f9;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

/* Login Box */
.box{
    width:420px;
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

/* Title */
.box h2{
    text-align:center;
    margin-bottom:25px;
    color:#333;
    font-size:26px;
}

/* Error */
.error{
    background:#ffe0e0;
    color:#b30000;
    padding:10px;
    border-radius:8px;
    margin-bottom:15px;
    text-align:center;
}

/* Inputs */
.box input{
    width:100%;
    padding:14px;
    border-radius:12px;
    border:1px solid #ddd;
    margin-bottom:15px;
    font-size:15px;
}

/* Input focus */
.box input:focus{
    outline:none;
    border-color:#ff7a00;
}

/* Button */
.box button{
    width:100%;
    padding:14px;
    background:#ff7a00;
    color:#fff;
    border:none;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.box button:hover{
    background:#e86d00;
}
