body{
    margin:0;
    font-family:Arial, sans-serif;
}

/* SIDEBAR */
.sidebar{
    width:220px;
    height:100vh;
    background:#1f2937;
    padding-top:20px;
    position:fixed;
    left:0;
    top:0;
}

/* LOGO */
.sidebar .logo{
    color:#fff;
    font-size:30px;
    font-weight:bold;
    text-align:center;
    margin-bottom:30px;
}

/* MENU */
.sidebar a{
    display:block;
    color:#fff;
    text-decoration:none;
    font-size:18px;
    padding:12px 20px;
    margin:5px 10px;
    border-radius:6px;
    transition:0.3s;
}

.sidebar a:hover{
    background:#374151;
}

/* LOGOUT */
.sidebar .logout{
    position:absolute;
    bottom:20px;
    width:100%;
}

.sidebar .logout a{
    background:#dc2626;
    margin:15px;
    text-align:center;
}

.sidebar .logout a:hover{
    background:#b91c1c;
}

/* PAGE CONTENT */
.content{
    margin-left:220px;
    padding:20px;
}
