*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI", sans-serif;
}

/* Sidebar */
.sidebar{
    width:240px;
    height:100vh;
    background: #ff7a00;
    position:fixed;
    left:0;
    top:0;
    padding:30px 20px;
    display:flex;
    flex-direction:column;
}

/* Logo */
.logo{
    color:#000;
    font-size:28px;
    margin-bottom:40px;
    font-weight:700;
}

/* Links */
.sidebar a{
    color:#000;
    text-decoration:none;
    font-size:16px;
    padding:12px 15px;
    border-radius:8px;
    margin-bottom:8px;
    display:block;
    transition:.3s;
    font-weight:500;
}

/* Hover */
.sidebar a:hover{
    background:#fff;
    color:#000;
}

/* Active */
.sidebar a.active{
    background:#fff;
    color:#000;
}

/* Logout */
.logout{
    margin-top:auto;
}

.logout a{
    background: red;
    color:white;
    text-align:center;
    font-weight:600;
}

.logout a:hover{
    background:#b91c1c;
}
